body {
       background-color:#fefcfd;
      font-family:"HelveticaNeue-Light", Times, serif;
      }
 .photoNexans {
  margin-top:25px;
}
li {
 padding-top:10px;
  padding-bottom:10px;
  
}
.titlezine {
  margin-top:48px;
  font-size:28px;
  color:#e95a3c;
  font-weight:100;
  
}
.issue {
  margin-top:62px;
 
  color:#e95a3c;

  
}
.articletext {
    font-size:18px;
  
}
.citation {
    font-size:22px;
  padding-top:15px;
  padding-bottom:15px;
}
.citation2 {
    font-size:18px;
  padding-top:15px;
  padding-bottom:15px;
}
.separateur {
  height:10px;
  background-color:#e85a3b;
  padding:5px;
}
.edito {
padding:5px;
margin-top:10px;
background-color:#f5f5f5;  
margin-bottom:20px;  
  font-size:18px;
}
.stratinit {
padding:5px;
  margin-bottom:20px; 
  
}
.announcement {
padding:5px;
  margin-bottom:20px; 
  
}
red {
 color:red;
}
.bottom {

 background-color:#9ecbd2;
}
.graph {
  width:500px;
  margin: 0 auto;
  text-align:center;
  
}
.buttonVote {
   text-align:center; 
}
.messageField {
  width: 400px;
  
}
.voting {
   background-color:#4c4968; 
  padding:20px;
}
.wantToVote {
   color:white; 
}
.wantToVote2 {
  text-align:center;
  font-size:20px;
  color:white; 
}